<div class="card">
  <div class="card-block">

    <div class="row">

      <div class="col-md-8">
        <h3>Edit <%= resource_name.to_s.humanize %></h3>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "" }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group form-inline">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control-sm ml-2" %>
          </div>

          <div class="form-group form-inline">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control-sm ml-2" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group form-inline">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control-sm ml-2" %>
            <small>(leave blank if you don't want to change it)</small>
            <% if @minimum_password_length %>
              <br />
              <small><%= @minimum_password_length %> characters minimum</small>
            <% end %>
          </div>

          <div class="form-group form-inline">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control-sm ml-2" %>
          </div>

          <div class="form-group form-inline">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control-sm ml-2" %>
            <small>(we need your current password to confirm your changes)</small>
          </div>

          <div class="form-group">
            <%= f.submit "Update", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="col-md-4">
        <h4>Cancel my account</h4>
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
      </div>

    </div>

    <div class="auth-links">
      <%= link_to "Back", :back %>
    </div>

  </div>
</div>
