<div class="col-md-4">
  <div class="card" data-id="<%= portfolio_item.id %>">
    <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), width: "100%" %>
    <p class="card-text">
      <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span>
      <%= portfolio_item.subtitle %>
      <%= link_to 'Edit', edit_portfolio_path(portfolio_item) if logged_in?(:site_admin) %>
    </p>
  </div>
</div>
